@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2bee3b;
  --primary-dark: #24c932;
  --background-light: #f6f8f6;
  --background-dark: #0a120b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a120b;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.soft-green-shadow {
  box-shadow: 0 10px 30px -5px rgba(43, 238, 59, 0.15);
}
